<a href="https://colab.research.google.com/github/MariamGhoneem/ANLP/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import nltk
#nltk.download('punkt')
df = pd.read_excel('final.xlsx',names=['label','text'],header=None,)
df['text'] = df['text'].apply(nltk.word_tokenize)
rootstemm = nltk.ISRIStemmer()

df['text'] = df['text'].apply(lambda x: [rootstemm.stem(y) for y in x ])

In [34]:
from sklearn.feature_extraction.text import CountVectorizer
df['text'] = df['text'].apply(lambda x: ' '.join(x))
vec = CountVectorizer(binary=True,lowercase=False)
feature = vec.fit_transform(df['text'])
pd.DataFrame(feature.toarray(),columns=vec.vocabulary_.keys())

,سبق,كأس,وزر,دخل,لكر,قدم,قوت,خصة,حقق,جني,...,حمدآل,وبالنجاح,مماطلاته,استقالتيه,توعد,كومبس,أرع,أمتل,عظمائ,ومواطنية
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4732,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4733,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4734,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4736,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
from sklearn.feature_extraction.text import CountVectorizer
vec = CountVectorizer()
feature = vec.fit_transform(df['text'])
pd.DataFrame(feature.toarray(),columns=vec.vocabulary_.keys())

,سبق,كأس,وزر,دخل,لكر,قدم,قوت,خصة,حقق,جني,...,حمدآل,وبالنجاح,مماطلاته,استقالتيه,توعد,كومبس,أرع,أمتل,عظمائ,ومواطنية
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4732,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4733,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4734,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4736,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec = TfidfVectorizer(lowercase=False)
feature = vec.fit_transform(df['text'])
pd.DataFrame(feature.toarray(),columns=vec.vocabulary_.keys())

,سبق,كأس,وزر,دخل,لكر,قدم,قوت,خصة,حقق,جني,...,حمدآل,وبالنجاح,مماطلاته,استقالتيه,توعد,كومبس,أرع,أمتل,عظمائ,ومواطنية
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.070059,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4732,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4734,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4735,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

x_train,x_test,y_train,y_test = train_test_split(feature,df['label'],test_size=0.2)
model = MultinomialNB()
model.fit(x_train,y_train)
predicted = model.predict(x_test)
predicted

array([3, 3, 3, 1, 3, 3, 3, 2, 1, 1, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 1,
       1, 3, 3, 3, 3, 1, 3, 1, 3, 3, 2, 3, 3, 3, 1, 3, 3, 3, 3, 1, 3, 3,
       3, 1, 1, 3, 1, 1, 1, 3, 1, 1, 3, 3, 2, 3, 3, 3, 3, 3, 3, 1, 2, 1,
       3, 1, 1, 3, 3, 1, 1, 1, 3, 1, 3, 3, 3, 3, 2, 1, 3, 1, 1, 2, 1, 3,
       3, 3, 3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 3, 1, 3, 3, 1, 2, 1, 3, 1, 3,
       1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 1, 3, 1, 1, 3, 3, 1,
       3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 3,
       1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 3, 2, 3, 3, 3, 1, 3, 3, 3,
       3, 1, 3, 1, 2, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 3, 3,
       1, 2, 3, 3, 3, 3, 1, 3, 2, 2, 1, 3, 3, 3, 3, 3, 1, 3, 3, 1, 3, 1,
       1, 1, 3, 3, 3, 1, 3, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3, 3, 3, 3, 2, 3,
       3, 3, 3, 1, 2, 1, 3, 3, 1, 3, 3, 1, 2, 3, 2, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 1, 1, 3, 2, 3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 3, 3, 1, 3,
       3, 1, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 2, 1, 3, 3, 3, 1, 3, 1, 1,
       3, 3, 1, 2, 1, 3, 1, 3, 1, 3, 3, 3, 3, 2, 3, 3, 2, 3, 3, 3, 3, 3,
       3, 1, 3, 3, 3, 2, 1, 3, 1, 1, 1, 1, 3, 3, 3, 3, 2, 3, 3, 3, 3, 1,
       1, 1, 3, 1, 3, 3, 3, 1, 1, 3, 3, 1, 2, 3, 1, 1, 1, 3, 3, 3, 3, 3,
       3, 1, 2, 3, 2, 3, 1, 3, 3, 3, 1, 1, 3, 1, 3, 3, 1, 1, 3, 3, 1, 3,
       1, 3, 1, 3, 3, 3, 3, 2, 1, 2, 1, 3, 3, 3, 1, 3, 3, 3, 1, 3, 3, 3,
       3, 3, 1, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3,
       3, 3, 3, 1, 1, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 3, 1, 3,
       1, 3, 1, 1, 3, 3, 1, 1, 3, 3, 1, 3, 3, 1, 3, 2, 3, 1, 1, 3, 3, 3,
       3, 3, 2, 3, 3, 2, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       1, 1, 3, 3, 3, 1, 3, 3, 1, 3, 3, 2, 1, 1, 3, 3, 1, 1, 1, 3, 1, 1,
       3, 3, 1, 3, 3, 1, 3, 3, 1, 3, 2, 3, 3, 3, 3, 1, 3, 3, 1, 3, 3, 1,
       1, 1, 3, 1, 3, 3, 3, 1, 1, 1, 3, 3, 3, 3, 3, 2, 3, 2, 3, 3, 3, 3,
       1, 3, 3, 3, 1, 3, 3, 1, 3, 1, 3, 1, 3, 3, 3, 1, 1, 3, 3, 3, 3, 1,
       3, 1, 1, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 1, 3, 3, 3, 3, 3, 1, 3, 3,
       3, 3, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3,
       3, 3, 2, 1, 1, 2, 1, 3, 1, 3, 3, 3, 3, 1, 2, 1, 1, 1, 3, 3, 3, 1,
       3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 3, 3, 3, 1, 3, 3, 3,
       2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 1, 1, 1, 3, 1, 3, 1, 3,
       3, 3, 3, 3, 3, 1, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1,
       1, 1, 3, 1, 3, 3, 1, 3, 3, 3, 3, 3, 2, 3, 1, 1, 3, 3, 3, 3, 3, 1,
       1, 3, 3, 1, 3, 3, 2, 1, 1, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 1,
       1, 1, 1, 3, 3, 3, 1, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1,
       1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 1, 2, 3,
       3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 1, 1, 1, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 3, 3, 1, 3, 1, 3, 3, 1, 3, 3, 3, 3,
       3, 3, 3, 2, 3, 2, 3, 3, 3, 3, 1, 3, 1, 1, 3, 3, 1, 2, 3, 3, 3, 3,
       3, 1, 3, 1, 3, 3, 1, 3, 1, 1, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 2, 3,
       1, 1, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3,
       3, 1, 3, 3, 1, 3, 3, 3, 1, 3, 2, 3, 3, 3, 2, 3, 3, 1, 3, 3, 1, 3,
       3, 2])

In [44]:
from sklearn.metrics import accuracy_score,confusion_matrix

accuracy_score(y_test,predicted)
confusion_matrix(y_test,predicted)

array([[248,   0,  47],
       [  0,  53, 139],
       [  1,   0, 460]])